extends layout

block content
  .d-flex
    h1.font-weight-bold Job Listings
    button.ml-auto.btn.btn-primary(type='button', data-toggle='modal', data-target='#addWorkedJobsModal')
        | Add Job Offer
    include job

  if jobs
    .row
      each job in jobs
        .col-md-6
          .card.p-4.d-block.m-4
            h5.lead=job.name
            .pb-2.pl-4
                a(href='#')=job.client
            hr
            h6.text-uppercase.text-secondary.small.text-uppercase Industries
            each industry in job.industry
              .ml-3.badge.badge-info.badge-pill.font-weight-bold=industry
            //- .pl-4.pt-2.pb-2.d-flex
            h6.text-uppercase.text-secondary.small.text-uppercase.mt-2 Skill Requirements
            each skill in job.skillsRequired
              .ml-3.badge.badge-warning.badge-pill.font-weight-bold=skill 
            p.mt-4.trim-text !{job.description.split('\n').join('<br/>')}...
            a.btn.btn-primary.float-right(href="jobs/"+job._id) Read More
